.app {
  margin: 0 auto;
  max-width: 1010px;
  min-width: 320px;
  height: auto;
  position: relative;
  padding: 0 36px;
  background-color: #fff;
}

.app__pagination {
  text-align: center;
  position: relative;
  bottom: 0px;
}
.app__search-input {
  margin-top: 0px;
  margin-bottom: 32px;
}

.app__pagination {
  margin-top: 32px;
  padding-bottom: 32px;
}

@media (max-width: 450px) {
  .app {
    grid-row-gap: 16px;
    padding: 0 36px;
  }
}
